body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://wallpapercave.com/wp/wp15240950.webp");
    font-family: 'Space Mono';
    color: rgb(218, 239, 255);
    text-align: center;
    background-position: center;
}
a {
    color:rgb(218, 239, 255);
}
a:hover {
    color: rgb(96, 207, 255);
}
hr {
    border: 1px solid rgb(218, 239, 255);
}
blockquote {
    padding: 0.1em 2em 0.1em 3em;
    position: relative;
    border-left: 2rem solid rgb(96, 207, 255);
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    border-radius: 15px;
    box-shadow: rgba(96, 207, 255, 0.5) 0px 0px 10px 10px;
    background-color: rgb(218, 239, 255);
    color: black;
}
blockquote:before {
    content: "\201C";
    color: rgba(124, 124, 124, 0.5);
    font-size: 5em;
    position: absolute;
    left: 1rem;
    top: 0.4em;
    line-height: 0.1em;
}
blockquote:after {
    content: "\201D";
    color: rgba(124, 124, 124, 0.5);
    font-size: 5em;
    position: absolute;
    right: 2rem;
    top: 0.85em;
    line-height: 0.1em;
}
button {
    background-color: rgb(218, 239, 255);
    color: black;
    border-radius: 15px;
    box-shadow: rgba(96, 207, 255, 0.5) 0px 0px 10px 10px;
    border: white;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
}
tbody tr:nth-child(odd) {
    background-color: rgb(218, 239, 255);
    padding: 10px; 
}
tbody tr:nth-child(even) {
    background-color: rgb(96, 207, 255);
}